<mat-toolbar class="with-border">
    <mat-toolbar-row style="background:white" lass="equal_column_spacer">
        <ng-container *ngFor="let item of navList">
            <button class="paper-button" [ngClass]=" item?.icon ? 'icon' : ''" (click)="goto(item.url_slug)">
             
                <mat-icon style="vertical-align: middle;" *ngIf="item.icon">
                    {{item.icon}}
                </mat-icon>

                <span class="d-none d-md-inline">{{item.menu_item_label}}</span>
            </button>

            <div style="flex:1 1 auto"></div>
            <nav>
                <ul>
                    <li *ngFor="let subitem of item.common_items">
                        <button class="paper-button" (click)="goto(subitem.url_slug)">
                            <mat-icon *ngIf="subitem.icon">
                                {{subitem.icon}}
                            </mat-icon>
                            <span class="d-none d-md-inline">{{subitem.menu_item_label}}</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid outlet-container">
    <router-outlet></router-outlet>
</div>