<section id="hero" class="banner">
    <div fxLayout='column' fxLayoutAlign="center center">
        <div fxflex fxLayout='row' fxLayoutAlign="center center" class="inner-section">
            <div fxFlex="1 1 80%" fxFlex.lt-md="1 1 90%">
                <div class="image-container">
                   <img class="hero paper-border" [src]="rendering?.fields?.hero?.image">
                </div> 
                <div class="mat-display-2"><strong>{{rendering?.fields?.hero?.sub_headline}}</strong></div>
                <a *ngIf="rendering.fields.cta"></a>
            </div>
        </div>
    </div>
    <div id="elementToAnimate">
        <img  [src]="rendering?.fields?.media">
    </div>

    <app-flip-cards [panelItems]="rendering?.fields">

    </app-flip-cards>
</section>
